---
layout: archive
---

{{ content }}
<!-- 
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
 -->

<h2>Articles</h2>

<details open>
  <summary style="cursor: pointer;"><b> Physics - Thermal</b></summary>
  <div>


{% assign sorted_posts = site.posts | where_exp: "post", "post.path contains 'physics/thermal'" | sort: 'url' %}
{% for post in sorted_posts %}
  <article class="article-link">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </article>
{% endfor %}


  </div>
</details>

<details open>
  <summary style="cursor: pointer;"><b> Physics - Relativity</b></summary>
  <div>


{% assign sorted_posts = site.posts | where_exp: "post", "post.path contains 'physics/relativity'" | sort: 'url' %}
{% for post in sorted_posts %}
  <article class="article-link">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </article>
{% endfor %}


  </div>
</details>

<details open>
  <summary style="cursor: pointer;"><b> Physics - Central Force</b></summary>
  <div>


{% assign sorted_posts = site.posts | where_exp: "post", "post.path contains 'physics/central_force'" | sort: 'url' %}
{% for post in sorted_posts %}
  <article class="article-link">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </article>
{% endfor %}


  </div>
</details>

<details open>
  <summary style="cursor: pointer;"><b> Physics - Variation</b></summary>
  <div>


{% assign sorted_posts = site.posts | where_exp: "post", "post.path contains 'physics/variation'" | sort: 'url' %}
{% for post in sorted_posts %}
  <article class="article-link">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </article>
{% endfor %}


  </div>
</details>

<details open>
  <summary style="cursor: pointer;"><b> Physics - Small Oscillation</b></summary>
  <div>


{% assign sorted_posts = site.posts | where_exp: "post", "post.path contains 'physics/small_oscillation'" | sort: 'url' %}
{% for post in sorted_posts %}
  <article class="article-link">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </article>
{% endfor %}


  </div>
</details>

<details open>
  <summary style="cursor: pointer;"><b> Physics - Quantum</b></summary>
  <div>


{% assign sorted_posts = site.posts | where_exp: "post", "post.path contains 'physics/quantum'" | sort: 'url' %}
{% for post in sorted_posts %}
  <article class="article-link">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </article>
{% endfor %}


  </div>
</details>


<style>
summary {
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}
details > div {
  padding-left: 20px;
}
.article-link {
  font-size: 14px;
  margin-bottom: 0;
}

.article-link a {
  display: block;
}

article {
  margin-bottom: 8px;
}
</style>

